#header{
  width: 98%;
  height: 30%;
  border: 1px solid black;
  padding: 1%;
  float: left;
}
#discover{
  padding-left: 30%;
  float: left;
}
.button {
	margin-top: 5px;
  background-color: #b3b3b3;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  float: left;
}
/* Group of buttons*/
.button-group button {
    background-color: #ffb833; /* Green background */
    border: 1px solid orange; /* Green border */
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.button-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.button-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.button-group button:hover {
    background-color: #e69500;
}
.home-seach{
  padding-top: 45px;
  padding-left: 32%;
  background-image: url(../images/valencia.png);
  display: block;
  background-size: 100% 100%;
  width: 68%;
  height: 100px;
}

#search_box{
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: left bottom;
  text-indent: 20px;

}

#Submit_search{
  color:white;
  background-color: #ffb833;
}

.input_search{
  border-radius: 15px;
  margin-right: 15px;
}

.home-half{
  width: 48%;
}

.home-half img{
  max-width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 4px;
}

.home-half h2{
  margin-left: 10%;
}

.home-half p{
  margin-left: 10%;
  margin-right: 10%;
}

#section-left{
  float: left;
}

#section-right{
  float: right;
}
